.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

html, body{
    min-height: 100%;
}

body {
    background: #aaa;
    background-image: url('http://puregym.gr/images/gym.jpg');
    background-size: cover;
}

.navbar-logo {
    height: 36px;
    position: relative;
    top: -8px;
    width: auto;
}

.top-navbar {
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    border-color: #d0b580;
    background: #fff;
}

.nav-items .active {
    font-weight: bold;
}

.nav-items span,
.navbar-default .nav-items > li > a,
.navbar-default .nav-items > li > a:active,
.navbar-default .nav-items > li > a:focus,
.navbar-default .nav-items > li > a:hover {
    color: #d0b580;
}

.nav-items .dropdown-menu li {
    padding: 2px;
    border-bottom: 1px solid #eee;
}

.nav-items .dropdown-menu li.last {
    border: none;
}

.nav-items a:hover, .nav-items a:focus {
    text-decoration: none;
    color: #d0b580;
}

.about-container {
    background-color: rgba(255,255,255,0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF, endColorstr=#4CFFFFFF)";
    margin: auto;
    padding: 15px;
}

.about-panel, .info-panel {
    background: transparent;
    border-style: none;
    box-shadow: none;
    border-radius: 0px;
    margin: auto;
}

.about-panel .panel-heading {
    background: rgba(0,0,0,0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    border-radius: 0px;
    border-style: none;
    color: #d0b580;
    font-weight: bold;
}

.info-panel .panel-heading {
    background: transparent;
    border-width: 0px 0px 1px 0px;
    border-color: #888;
    border-radius: 0px;
    font-weight: bold;
    font-size: 18px;
}

.info-panel iframe {
    overflow: hidden;
    border: none;
}

.facebook-widget {
    text-align: center;
}

.info-list > li {
    background: transparent;
    border: none;
}

footer .info-list {
	margin-top: 20px;
    width: 100%;
}

footer .info-list .list-group-item {
	float: left;
    height: 80px;
}

footer .info-list .list-group-item a {
    color: #000;
    text-decoration: underline;
}

footer .info-list .list-group-item .list-group-item-text {
	font-size: 13px;
}

footer .info-list .list-group-item .list-group-item-text {
	font-size: 13px;
}

footer .container > div {
    float: left;
}

footer .container > div.facebook-widget {
	margin-top: 23px;
    float: right;
}

.outside-pic {
    text-align: center;
}

.outside-pic img {
    width: 100%;
    height: auto;
    max-width: 422px;
}

footer {
    height: 200px;
    width: 100%;
	background: rgba(208,181,128,0.6);
    margin-top: 20px;
}
@media screen and (max-width: 991px) {
    footer { 
        height: 356px;
    }
}
@media screen and (max-width: 767px) {
    footer {
        height: 514px;
    }
}

.slide-img {
    max-width: 100%;
    max-height: 350px;
    margin: auto;
    position: relative;
}

.place-slide .slide-img {
    max-height: 500px;
}

.slide-div {
    padding: 10px;
}

.pics-slide {
    margin-bottom: 20px;
}

.note {
    clear: both;
    background: rgba(208,181,128,0.4);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66D0B580, endColorstr=#66D0B580)";
    text-align: center;
    margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.power-plate-panel .panel-heading {
    background-image: url(/images/power_plate_logo.png);
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: center;
    height: 40px;
}

.power-plate-panel ul li,
.trx-panel ul li,
.pilates-panel ul li,
.kinesis-panel ul li {
    font-weight: bold;
}

.kinesis-panel .panel-heading {
    background-image: url(/images/technogym.png);
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: right;
}

.trx-panel .panel-heading {
    background-image: url(/images/trx_logo.jpg);
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: right;
}

.home-panel .panel-heading, .place-panel .panel-heading {
    background-image: url(/images/p.png);
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: right;
}

.programs-container .info-panel ul li {
	font-weight: bold;
}

#cross-training {
	margin-top: 20px;
}

.home-slide {
    margin-bottom: 50px;
}
